@media screen and (min-width: 269px) and (max-width: 450px) {

.title__footer {  
  font-size: 0.9em;
  color:black;
  font-family: 'Advent Pro'; 
}
.site__footer {
  background-color: rgb(28, 27, 27);
   height: 100%;     
   position: relative; 
   top: 50px; 
}

}

@media screen and (min-width: 451px) and (max-width: 767px) {
.title__footer {  
  font-size: 2em;
  color:black;
  font-family: 'Advent Pro'; 
}

.site__footer {
  background-color: rgb(28, 27, 27);
   height: 100%;     
   position: relative; 
   top: 50px; 
}

}

@media screen and (min-width: 768px) and (max-width: 991px) { 
.title__footer {  
  font-size: 2em;
  color:black;
  font-family: 'Advent Pro'; 
}

.site__footer {
  background-color: rgb(28, 27, 27);
  height: 100%;     
  position: relative; 
  top: 50px; 
  }

}

  @media screen and (min-width: 992px) {
.title__footer {  
  font-size: 2em;
  color:black;
  font-family: 'Advent Pro'; 
}

.site__footer {
  background-color: rgb(28, 27, 27);
  height: 100%;     
  position: relative; 
  top: 50px; 
  }
     
}

 
 